html {
    font-family: 'Roboto', sans-serif;
}

#infos {
    display: none;
    z-index: 1;
    background-color: #ebebeb;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    padding-top: 20px;
    text-align: center;
}

#logcontents {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #ffffff;
}

.spanforlog {
    color: #aca8a8;
}

#logoutbutton {
    display: none;
}

#upload-screen {
    text-align: center;
}

.upload-screen-warning {
    color: #aca8a8;
}

#upload-screen {
    display: none;
}

.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #000000;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }

#moving, #CheckToMovePathPara {
    display: none;
    margin-left: 15px;
    margin-right: 10px;
}

#CheckToCopyPathPara {
    display: none;
    margin-left: 15px;
}

#zipping {
    display: none;
    margin-left: 15px;
    margin-right: 10px;
}

.filestozip {
    display: none;
}

#loginform {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#copydata {
    display: none;
    margin-left: 15px;
    margin-right: 10px;
}

.filesremoved {
    display: none;
}

#loginformtitle {
    margin-bottom: 50px;
}

#logpara {
    color: #aca8a8;
}

.formelement {
    margin-top: 20px;
}

#closeinfos {
    height: 25px;
    width: auto;
    cursor: pointer;
    margin-right: 350px;
    margin-left: 5px;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    padding-bottom: 5px;
}

#closeinfos:hover, #closeActions:hover, #close2:hover, #backlog:hover {
    border-color: #c7431a;
}

#backlog {
    height: 25px;
    width: auto;
    cursor: pointer;
    margin-right: 600px;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    padding-bottom: 5px;
    margin-left: 5px;
}

#titleapp, #platinfodiv, #storage, #versiondiv {
    margin-bottom: 50px;
}

#octocatdiv > a > img {
    height: 80px;
    width: auto;
}

#SSS {
    height: 75px;
    width: auto;
}

#storagefree {
    border-radius: 1vh;
    height: 15px;
    width: 200px;
    background-color: #4856cc;
}

#storageused {
    border-radius: 1vh;
    height: 100%;
    background-color: #c7431a;
}

.storageinfos {
    display: flex;
    align-items: center;
}

#storage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mems {
    margin-left: 30px;
}

.storageinfos > b, .storageinfos > div{
    margin: 5px;
}

#used, #free {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 5px;
}

#used {
    background-color: #c7431a;
}

#free {
    background-color: #4856cc;
}

#boxes, #removing {
    display: none;
}

#innerRename {
    height: 20px;
    min-width: 150px;
    border-style: solid;
    color: #ffffff;
    background-color: #c0bbbb;
    border-radius: 1vh;
    border-color: #c0bbbb;
    font-size: 15px;
    padding: 3px;
}

.filestomove {
    display: none;
}

#copyList, #zipList, #moveList {
    min-height: 20px;
    min-width: 150px;
    border-style: solid;
    color: #ffffff;
    background-color: #c0bbbb;
    border-radius: 1vh;
    border-color: #c0bbbb;
    font-size: 15px;
    padding: 3px;
}

#removing {
    margin-left: 15px;
    margin-right: 10px;
}

.filestocopy {
    display: none;
}

.renameWarning {
    color: #aca8a8;
}

.zipWarning {
    color: #aca8a8;
}

.copyWarning {
    color: #aca8a8;
}

#locDelLabel {
    min-height: 20px;
    min-width: 180px;
    border-style: solid;
    color: #ffffff;
    background-color: #c0bbbb;
    border-radius: 1vh;
    border-color: #c0bbbb;
    font-size: 15px;
    padding: 3px;
}

.divUpLoc {
    padding: 15px;
}

#actions {
    z-index: 3;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    margin-top: 80px;
    justify-content: center;
}

#close2-cont{
    display: none;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 8px;
    justify-content: center;
    margin-top: 10px;
}

#logWarning {
    color: #c0bbbb;
}

#close2 {
    height: 25px;
    width: auto;
    cursor: pointer;
    border-color: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 250px;
}

@media screen and (max-width:280px) {
    #close2 {
        margin-right: 0;
    }

    #close2-cont {
        justify-content: left;
    }
}

.parafu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 10%;
    background-color: #4856cc;
    height: 50px;
    width: 55px;
}

.parafu:hover {
    background-color: #c7431a;
}

.des {
    margin-left: 5px;
}

#actionsback {
    position: fixed;
    display: none;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 70%;
}

#backgroundBlock {
    position: fixed;
    display: none;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 70%;
}

#blockformat {
    position: fixed;
    display: none;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 70%;
}

#yesbuttonhidden {
    display: none;
}

#formatting {
    position: absolute;
    background-color: #ffffff;
    text-align: center;
    padding: 5px;
    margin-top: 50px;
    border-radius: 1vh;
}

@media screen and (max-width: 400px) {
    #formatting {
        position: fixed;
        border-radius: 0;
        right: 0;
        left: 0;
    }
}

@media screen and (max-height: 360px) {
    #formatting {
        position: absolute;
        border-radius: 0;
        top: 0;
        min-height: 100vh;
        margin-top: 0;
    }
}

.buttonformat {
    background-color: #c7431a;
    color: #ffffff;
    border-radius: 1vh;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    width: 40px;
}

.buttonformat:hover {
    background-color: #e44c1e;
}

#choices {
    display: flex;
    justify-content: center;
}

#valueformat {
    display: none;
}

.formpara {
    color: #aca8a8;
}

#formatcontainer {
    position: absolute;
    display: none;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
}

#post-actions {
    z-index: 5;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 700px;
    background-color: #ffffff;
}

.removeWarning {
    margin-left: 10px;
}

.moveWarning {
    color: #aca8a8;
}

#post-actions > div {
    margin: 15px;
}

#uploadWarning, .removeWarning {
    color: #aca8a8;
}

#uploading {
    display: none;
    margin: 15px;
    border-width: 1px;
}

.divUpLocFiles {
    display: none;
    padding-left: 15px;
}

#location-box {
    height: 300px;
    width: 80%;
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
    border-radius: 1vh;
    padding: 5px;
    overflow-y: scroll;
}

@media screen and (max-width: 730px) {

    #post-actions {
        width: 100vw;
    }

    #location-box {
        width: 85%;
    }

}

#location-box-father {
    padding: 10px;
}

#uploading > div {
    margin-top: 10px;
}

#header > h1 {
    font-size: 3vh;
}

#container {
    padding-top: 0;
    padding-bottom: 5vh;
    padding-left: 60px;
    height: 90vh;
    overflow-y: scroll;
    padding-right: 5vw;
}

.menus {
    height: 20px;
    width: auto;
    cursor: pointer;
    margin-top: 15px;
}

#pathToRename {
    display: none;
}

#renaming {
    display: none;
    margin-left: 15px;
    margin-right: 10px;
}

.menus:hover {
    margin-bottom: 10px;
}

#infosmenu, #guideico {
    height: 30px;
    width: auto;
}

#formatdata {
    color: #ffffff;
    background-color: #c7431a;
    border-radius: 1vh;
    padding: 5px;
    width: fit-content;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    margin-top: 300px;
}

#formatdata:hover {
    background-color: #e44c1e;
}

#logout {
    height: 35px;
    width: auto;
}

#log {
    height: 35px;
    width: 40px;
}

#menubar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ebebeb;
    width: 60px;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

#menubar::-webkit-scrollbar {
    display: none;
}

.folder {
    display: none;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.file, .foldtitle {
    border-style: solid;
    border-color: #c0bbbb;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-width: 1px;
    padding: 3px;
}

.textfile:hover {
    color: #c0bbbb;
}

.path, .sizes {
    margin-left: 20px;
    color: #c0bbbb;
}

#stored1 {
    color: #c0bbbb;
}

.textfile {
    text-decoration: none;
    color: black;
}

#closeActions {
    height: 25px;
    width: auto;
    border-color: #000000;
    border-style: solid;
    border-width: 3px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    padding-bottom: 5px;
}

.folderico, .folderstatus {
    height: 15px;
    width: auto;
}

#upload-icon-root > img, #remove-icon-root > img, #move-icon-root > img, #copy-icon-root > img, #zip-icon-root > img, #rename-icon-root > img {
    height: 30px;
    width: auto;
}

#upload-icon-root, #closeActions, #remove-icon-root, #move-icon-root, #copy-icon-root, #zip-icon-root, #rename-icon-root {
    cursor: pointer;
}

.foldtitle, .upLoc, .upLocF {
    cursor: pointer;
}

#typerem {
    display: none;
}

.upLoc:hover, .upLocF:hover {
    color: #ffffff;
    background-color: #aca8a8;
}

.upLoc:active, .upLocF:active {
    background-color: #c0bbbb;
}